
.containerTransferencia {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1rem;
	h3 {
		padding-left: 0.5rem;
	}
}

.cardLeft {
	width: 48%;

}

.containerInut{
   
	width: 100%;
    padding: 0.5rem;
	
}

.containerLimite {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	padding: 2rem 2rem 2rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	@media only screen and (max-width: 1002px) and (min-width: 100px) {
		//flex-wrap: wrap;
	}

	p {
	//	padding: 0 1rem 0.5rem;
	}
}

.cardButtomLimit{
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;

}


.buttomMenu {
	// color: var(--BACKGOUND_BLACK_900);
	background-color: transparent;
	border: 0;
	padding-left: 0.5rem;
}

.containerForm {
	display: flex;
	flex-direction: column;
	justify-content: left;
}


.divAcessoRapido {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	@media only screen and (max-width: 1002px) and (min-width: 100px) {
		flex-wrap: wrap;
	}
}

.divComoFunciona {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	p{
		color: var(--COLORFONTES_GRAY_500);
		font-size: var(--SMALL);
		font-family: var(--MEDIUM);
	}
}

.divAcoes {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

}


@media only screen and (max-width: 1002px) and (min-width: 100px) {
	//flex-direction: column;

 .containerTransferencia{
	flex-direction: column;
 }

 .inputTransferencia{
	width: 100%;
 }
 .divAcoes{
	flex-wrap: wrap;
 }

 .cardLeft {
	 width: 100%;
 
 }
}

