
.containerTransferencia {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;	
}


.titleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1rem;
	h3 {
		padding-left: 0.5rem;
	}
}
.cardLeft {
	width: 100%;
}

.cardRigth {
	width: 100%;
	padding-left: 1rem;
}

.cardTransferencia {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: 2rem 2rem 2rem;
	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	@media (max-width: 720px) {
		flex-direction: column;
		padding: 2rem 0rem 0rem;;
	}
}




