.containerMain {
	display: flex;
	flex-direction: row;
}

.containerBody {
	width: 100%;
	display: flex;
	flex-direction: column;

	padding: 30px 30px 0px;
	background-color: #f8fafc;
}

.containerTransferencia {
	display: flex;
	flex-direction: row;
	padding-top: 30px;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1rem;
	h3 {
		padding-left: 0.5rem;
	}
}

.cardLeft {
	width: 100%;
	//  background-color: aqua;
}

.cardRigth {
	width: 100%;
	padding-left: 30px;
	//  background-color: aqua;
}

.ContainerRigth {
	margin-top: 30px;

	p {
		padding-top: 30px;
		text-align: justify;
	}
}

.information {
	padding-top: 10px;
}

.cardTransferencia {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	padding: 2rem 2rem 2rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	@media only screen and (max-width: 1002px) and (min-width: 100px) {
		flex-wrap: wrap;
	}

	p {
		padding: 0 1rem 0.5rem;
	}
}

.dadosSaldo {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	h5 {
		padding-left: 0.5rem;
	}
}

.textoGeral {
	font-size: var(--XG_SMALL);
	font-family: Arial, Helvetica, sans-serif;
}

.textoValorSaldo {
	font-size: var(--SMALL);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: var(--COLORFONTES_GREEN_900);
}

.valorSaldo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid;
	border-color: var(--BACKGOUND_GRAY_100);
	border-width: 2px;
	padding: 1rem 0 0;
}

.valorDatranferencia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0 0;
	h4 {
		padding-bottom: 1rem;
	}
}

.buttomIcon {
	color: var(--BACKGOUND_BLACK_900);
	background-color: transparent;
	border: 0;
	padding-left: 0.5rem;
}

.inputTransferencia {
	font-size: var(--X_LARGE);
	text-align: left;
	border: 0;
	// height: 10%;
	// padding-top: 2rem;
	padding-left: 1rem;
	width: 30%;

	&::placeholder {
		color: var(--COLORFONTES_BLACK_FULL);
	}
}

.inpuValorTrans {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	label {
		font-size: var(--LARGE);
	}
}

.navMenu {
	padding-top: 3rem;
	max-width: 350px;
	width: 100%;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		padding: 1rem 1rem 0;
		display: inline;
		border-bottom: 2px solid var(--COLORFONTES_GRAY_500);
	}
}

.buttomMenu {
	// color: var(--BACKGOUND_BLACK_900);
	background-color: transparent;
	border: 0;
	padding-left: 0.5rem;
}

.containerForm {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.blocoForm {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.divAcessoRapido {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	@media only screen and (max-width: 1002px) and (min-width: 100px) {
		flex-wrap: wrap;
	}
}

.divComoFunciona {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	margin-bottom: 2rem;

	p{
		color: var(--COLORFONTES_GRAY_500);
		font-size: var(--SMALL);
		font-family: var(--MEDIUM);
	}
}

.divAcoes {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

}


@media only screen and (max-width: 1002px) and (min-width: 100px) {
	//flex-direction: column;

 .containerTransferencia{
	flex-direction: column;
 }

 .inputTransferencia{
	width: 100%;
 }
 .divAcoes{
	flex-wrap: wrap;
 }
}

