

.containerTransferencia {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	//justify-content: flex-start;
	justify-content: space-around;
	padding-top: 30px;

	
}

.titleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1rem;
	h3 {
		padding-left: 0.5rem;
	}
}


.cardLeft {
	width: 50%;
	//  background-color: aqua;
}

.cardRigth {
	width: 50%;
	//  background-color: aqua;
	padding-left: 1rem;
}

.cardTransferencia {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	//flex-direction: row;
	//align-items: stretch;
	height: 100%;
	padding: 2rem 2rem 2rem;

	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	//margin-bottom: 2rem;

	@media (max-width: 720px) {
		flex-direction: column;
	}
}

.cardSolicitacao {
	width: 48%;
	display: flex;
	flex-direction: column;
	
	height:auto;
	padding: 2rem 2rem 2rem;
	background-color: var(--BACKGOUND_WHITE);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
}

.titleSolicitacao{
	display: flex;
	justify-content: center;
	align-items: center;
}

.CardQuantidadeEquip{
	padding-top: 16px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}

.cardDetalhes{
	
	width: 100%;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px var(--COLORFONTES_GRAY_500);
	border-color: var(--BACKGOUND_GRAY_100);
	//padding: 16px;
	padding: 10px 20px 0px 5px;
}
.itensDetalhes{
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	
}

.textGrayFull{

	color: var(--COLORFONTES_GRAY_MEDIUM);
	font-weight: bold;
}
.textBlackFull{
	
	color: var(--COLORFONTES_BLACK_900);
	font-weight: bold;
}

.textSucess{
	color: var(--COLORFONTES_GREEN_900);
	font-weight: bold;
}

.divider{
	width: 100%;
	background-color: var(--COLORFONTES_GRAY_50);
	height: 1px;
	margin-top: 16px;
}

.textTitle{
	padding-top: 32px;
	color: var(--COLORFONTES_GRAY_500);
	font-weight: bold;
}

.itensDetalhesTaxas{
	width: 100%;
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	//background-color: red

	
}
.buttomBandeiras{
	margin: 8px;
	width: 100%;
	height: 40px;
	border: 0;
	border-color: var(--BACKGOUND_GRAY_100);
	border-radius: 0.3rem;
	background-color:  var(--BACKGOUND_GRAY_100);
	&:hover {
		filter: brightness(1.08);
		border-width: 0.15rem;
		border-color: #45a049;
		background-color:  var(--BACKGOUND_WARNING);
	  }
	
}
.buttomBandeirasAtiva {
	/* Estilos ao clicar no botão */
	background-color: #45a049;
	//box-shadow: 0px 0px 0px var(--COLORFONTES_GRAY_500);
	margin: 8px;
	border: 0;
	width: 100%;
	height: 40px;
	border-color: var(--BACKGOUND_SUCCESS);
	border-radius: 0.3rem;
  }

  .itensTaxas{
	width: 100%;
	padding: 10px 0px 0px 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.textTipoTaxa{
	color: var(--COLORFONTES_BLACK_900);
	font-weight: bold;
}

.textDescricaoAquisicao{
	width: 65%;
    color:  var(--BACKGOUND_GRAY_900); 
    font-size: 16px;  
    font-weight: bold;
    font-family: sans-serif;
}

.contenerSelecionaMaquinas{
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 16px;
	padding-right: 16px;
}

.detalhesMaquinas{
	flex-direction: column;
}

.textomMaquinaUm{
	color:  var(--BACKGOUND_GRAY_900); 
	padding-top: 16px;
}

.containerInput{
	width: auto;
	padding-top: 32px;
	flex-direction: row;
	justify-content: center;
//	align-items: center;
	
}

.buttomInput{
	color:  var(--BACKGOUND_GRAY_900); 
    font-size: 16px;  
    font-weight: bold;
	padding-top: 2px;
}

.inputTextFild{

	align-items: center;
	
}

.imageMaquininha{
	//width: 20%;
}

.containerDataTaxas{
	width: 17%;
	//flex-direction: row;
	//justify-content: center;
	//align-items: center;
	//background-color: #45a049;
}

.contentDatabuttom{
	width: 100%;
}

.containerValores{
	padding-top: 16px;
}
.spanValor{
	color:  var(--COLORFONTES_GREEN_900);
}
.titleModal{
	display: flex;
	justify-content: center;
	align-items: center;

}
.titleModal h2 {
	color:  var(--BACKGOUND_GRAY_900);
}

.textSolicitante h3 {
	color:  var(--BACKGOUND_GRAY_900);
}

.containerSolicitacao{
	
	display: flex;
	flex-direction: column;
	
}
  
.containerDadossolicitacao{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 16px;
	margin-bottom: 32px;
}


.textTermo{
text-align: justify;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 32px;
}

.cardButtomAcoes{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 32px;
}

.buttomAceptTerm{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contentButtom{
	margin-left: 16px;
}

@media (max-width: 720px) {
	.containerTransferencia{
		flex-direction: column;
	}

	.cardLeft{
		width: 100%;
	}
	.cardRigth{
		width: 100%;
		margin-top: 64px;
		padding: 0;
	}

	.contenerSelecionaMaquinas{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	.imageMaquininha{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.itensDetalhesTaxas{
		flex-wrap: wrap;
	}

	.CardQuantidadeEquip{
		flex-wrap: wrap;
	}

	.containerDadossolicitacao{
		flex-direction: column;
		justify-content: space-around;
	}

	.cardSolicitacao{
		width: 100%;
		margin-top: 16px;
	}
}

	