.input {
	margin-top: 1rem;
	width: 100%;
	height: 40px;
	border: 0;
	border-radius: 0.5rem;
	background-color: var(--BACKGOUND_ACTIONS);
	color: var(--COLORFONTES_WHITE);
	padding: 1rem;
	border: 1px solid var(--COLORFONTES_GRAY_200);
	@media (min-width: 768px) {
		min-width: 300px;
	}
	@media (max-width: 767px) {
		min-width: 90%;
	}
}

.input::placeholder {
	color: rgba(255, 255, 255, 0.8);
}

.labelError {
	color: var(--COLORFONTES_RED_ERROR);
	font-size: 0.8rem;
	margin-top: 0.5rem;
}