.anncora-theme {
	/* BACKGROUND COLORS */
	--BACKGOUND_THEME: #030c16;
	--BACKGROUND_HEADER: #1d2d3a;
	--BACKGOUND_BOX: #1d2d3a;
	--BACKGOUND_MINICARD: #426385;
	--BACKGROUND_BUTTOM_INFO_2: #7aafc7;
	--BACKGROUD_CARD_DEBIT: #404041;
	--BACKGROUND_CARD_INICIAL: #fff;
	--BACKGROUND_CARD_INICIAL_2: #9dbbd2;
	--BACKGROUND_CARD_INICIAL_3: #1e2d3a;
	--BACKGROUND_ICON_INFO: #476b90;
	--BACKGOUND_BUTTOM_INFO: #426385;
	--BACKGOUND_SPINNER_900: #426385;

	/* TEXT COLORS */
	--COLORFONTES_CASHOUT: #d29d9d;
	--COLORFONTES_CASHIN: #9dbbd2;
}
