.bithive-theme {
	/* BACKGROUND COLORS */
	--BACKGOUND_THEME: #0a1a2a;
	--BACKGROUND_HEADER: #132d4a;
	--BACKGOUND_BOX: #17385c;
	--BACKGOUND_MINICARD: #132D4A;
	--BACKGROUND_BUTTOM_INFO_2: #1b75ce;
	--BACKGROUD_CARD_DEBIT: #004173;
	--BACKGROUND_CARD_INICIAL: #fff;
	--BACKGROUND_CARD_INICIAL_2: #1e2d3a;
	--BACKGROUND_CARD_INICIAL_3: #030c16;
	--BACKGROUND_ICON_INFO: #1b75ce;
	--BACKGOUND_BUTTOM_INFO: #004275;
	--BACKGOUND_SPINNER_900: #1b75ce;

	/* TEXT COLORS */
	--COLORFONTES_CASHOUT: #ff3333;
	--COLORFONTES_CASHIN: #24fe91;
}
