.containerMenu {
	padding-right: 40px;
	padding-top: 72px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: right;
	background-color: var(--BACKGOUND_THEME);
	min-height: 100vh;
}

.subMenu{
	
	padding-left: 32px;
	padding-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;


}

.linkSubMenu{
	padding-bottom: 16px;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.95;
	}
}

@keyframes fadeOutAnimation {
	0% {
		opacity: 0.95;
	}
	100% {
		opacity: 0;
	}
}

.containerMenuMobile {
	position: fixed;
	top: 62;
	left: 0;
	width: 50%;
	padding-right: 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: right;
	background-color: var(--BACKGOUND_THEME);
	min-height: 100vh;
	z-index: 999;
	animation: fadeInAnimation ease 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.containerMenuMobileOut {
	position: fixed;
	top: 62;
	left: 0;
	width: 50%;
	padding-right: 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: right;
	background-color: var(--BACKGOUND_THEME);
	min-height: 100vh;
	z-index: -1;
	animation: fadeOutAnimation ease 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.linkMenu {
	color: var(--COLORFONTES_GRAY_200);
	margin: 20px 20px 10px;
	display: flex;
	align-items: center;
	justify-content: center;


}

.subMenuWrapper{
	margin: 20px 20px 10px;
	color: var(--COLORFONTES_GRAY_200);
	

	&:hover {
		color: var(--COLORFONTES_BLUE_800);
	}
}

.linkButtomMenu {
	color: var(--COLORFONTES_GRAY_200);
	margin: 20px 20px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 0;
	transition: color 0.7s;
	&:hover {
		filter: brightness(10);
		color: var(--COLORFONTES_BLUE_900);
	}
}

.labelTextMenuAtivo {
	padding-left: 10px;
	color: var(--COLORFONTES_BLUE_800);
}

.labelTextMenuInativo {
	padding-left: 10px;
}

.labelTextMenu {
	padding-left: 5px;
}

.divImgLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	margin-top: 10px;
	scale: 0.6;
}

.fade {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.fadeActive {
	opacity: 1;
}
